<div id="homeComponent">
  <mat-toolbar>
    <mat-toolbar-row>
      <span><img src="/assets/images/3d-logo.png" alt="Star Wars Galaxy of Heroes Unit Comparison Tool" class="bannerImage" /></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <app-comparison-drop-down></app-comparison-drop-down>
  <div class="disclaimer">This tool and site are not affiliated with EA, EA Capital Games, Disney or Lucasfilm LTD.</div>
  <div class="credits"><a href="/credits" target="_blank" class="credits">Credits</a></div>
  <div class="credits">Email me at &#104;&#109;&#101;&#101;&#107;&#101;&#114;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109; if you have problems.</div>
</div>


