<div id="homeComponent">
  <h1 class="mat-h1">Unit Comparison Tool</h1>

  <app-comparison-drop-down></app-comparison-drop-down>

</div>

<!--<table class='table table-striped' *ngIf="units">
  <thead>
    <tr>
      <th>nameKey</th>
      <th>forceAlignment</th>
      <th>combatType</th>
      <th>descKey</th>
      <th>baseId</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let unit of units">
      <td>{{ unit.nameKey }}</td>
      <td>{{ unit.forceAlignment }}</td>
      <td>{{ unit.combatType }}</td>
      <td>{{ unit.descKey }}</td>
      <td>{{ unit.baseId }}</td>
    </tr>
  </tbody>
</table>-->


