<table mat-table [dataSource]="rosterInput" class="mat-elevation-z8 mat-table" *ngIf="rosterInput" style="width:100%">
  <ng-container matColumnDef="playerName">
    <th mat-header-cell *matHeaderCellDef> Player Name </th>
    <td mat-cell *matCellDef="let element"> {{element.playerName}} </td>
  </ng-container>
  <ng-container matColumnDef="rarity">
    <th mat-header-cell *matHeaderCellDef> Rarity </th>
    <td mat-cell *matCellDef="let element"> {{element.rarity}} </td>
  </ng-container>
  <ng-container matColumnDef="nameKey">
    <th mat-header-cell *matHeaderCellDef> Character Name </th>
    <td mat-cell *matCellDef="let element"> {{element.nameKey}} </td>
  </ng-container>
  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef> Level </th>
    <td mat-cell *matCellDef="let element"> {{element.level}} </td>
  </ng-container>
  <ng-container matColumnDef="gear">
    <th mat-header-cell *matHeaderCellDef> Gear Level </th>
    <td mat-cell *matCellDef="let element"> {{element.gear}} </td>
  </ng-container>
  <ng-container matColumnDef="skills">
    <th mat-header-cell *matHeaderCellDef> Skills </th>
    <td mat-cell *matCellDef="let element">
      <div *ngFor="let skill of sortSkills('nameKey', element.skills)">
        {{skill.nameKey}}<br />
        Level {{skill.tier}}
      </div>

    </td>
  </ng-container>
  <ng-container matColumnDef="character">
    <th mat-header-cell *matHeaderCellDef> Gear </th>
    <td mat-cell *matCellDef="let element">
      <div style="width:150px">
        <div style="float:left; width:50%;" *ngFor="let equip of element.character.gearSlots; index as i">
          <span style="width:56px;" *ngIf="i < 3">
            <img src="{{equip.imageUrl}}" alt="{{equip.name}}" width="56" height="56" style="border:2px solid gray; background-color:black;" *ngIf="equip.equipped; else elseBlock" />
            <ng-template #elseBlock><img src="{{equip.imageUrl}}" alt="{{equip.name}}" width="56" height="56" style="opacity: .3" /></ng-template>
          </span>
        </div>
        <div style="float:left; width:50%;" *ngFor="let equip of element.character.gearSlots; index as i">
          <span style="width:56px; float: left;" *ngIf="i >= 3">
            <img src="{{equip.imageUrl}}" alt="{{equip.name}}" width="56" height="56" style="border:2px solid gray; background-color:black;" *ngIf="equip.equipped; else elseBlock" />
            <ng-template #elseBlock><img src="{{equip.imageUrl}}" alt="{{equip.name}}" width="56" height="56" style="opacity: .3" /></ng-template>
          </span>
        </div>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay;  odd as isOdd" [ngClass]="{'highlight-row' : isOdd}"></tr>
</table>
