<table mat-table [dataSource]="rosterInput" class="mat-elevation-z8 mat-table" *ngIf="rosterInput" style="width:100%">
  <ng-container matColumnDef="rarity">
    <th mat-header-cell *matHeaderCellDef> Rarity </th>
    <td mat-cell *matCellDef="let element"> {{element.rarity}} </td>
  </ng-container>
  <ng-container matColumnDef="nameKey">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.nameKey}} </td>
  </ng-container>
  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef> Level </th>
    <td mat-cell *matCellDef="let element"> {{element.level}} </td>
  </ng-container>
  <ng-container matColumnDef="gear">
    <th mat-header-cell *matHeaderCellDef> Gear Level </th>
    <td mat-cell *matCellDef="let element"> {{element.gear}} </td>
  </ng-container>
  <ng-container matColumnDef="skills">
    <th mat-header-cell *matHeaderCellDef> Skills </th>
    <td mat-cell *matCellDef="let element">
      <div *ngFor="let skill of sortSkills('nameKey', element.skills)">
        {{skill.nameKey}} -- {{skill.tier}}
      </div>

    </td>
  </ng-container>
  <ng-container matColumnDef="character">
    <th mat-header-cell *matHeaderCellDef> Equipped Gear </th>
    <td mat-cell *matCellDef="let element">
      <div *ngFor="let equip of element.character.gearSlots">
        <div style="border:1px solid white;">
          <img src="{{equip.imageUrl}}" alt="{{equip.name}}" width="56" height="56" />
        </div>
      </div>
  
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay;  odd as isOdd" [ngClass]="{'highlight-row' : isOdd}"></tr>
</table>
