<mat-toolbar>
  <mat-toolbar-row>
    <span>Credits</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="creditsPage">
  <p>Many thanks to the guys on the swgoh.help Discord server for their tips on accessing the various APIs involved.</p>
  <p>
    I'm using data from these APIs.
  </p>
  <mat-nav-list role="list">
    <a mat-list-item href="https://api.swgoh.help/">https://api.swgoh.help/</a>
    <a mat-list-item href="https://crinolo-swgoh.glitch.me/statCalc/">https://crinolo-swgoh.glitch.me/statCalc/</a>
    <a mat-list-item href="https://swgoh.gg/api/">https://swgoh.gg/api/</a>
  </mat-nav-list>
  <p class="someSpace">
    I got all the graphics from <a href="https://swgoh.gg/">https://swgoh.gg/</a>. Their front end guy is good.
  </p>

</mat-card>
