/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

.highlight-row {
  background-color: #5e5c5c;
}
.statRow{
  margin-bottom: 10px;
}
.statRow:after {
  content: "";
  display: table;
  clear: both;
}
.statColumn {
  float: left;
  padding:5px;
}
.isGreater {
  background-color: yellow;
  color: black;
  font-weight:bold;
  padding:3px;
}

.isLesser {
  padding: 3px;
}

.topResultTable{
  margin-bottom:10px;
  margin-top:10px;
  width:50%;
}

.topResultTable td  {
  
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.imgGear {
  border: 2px solid gray;
  background-color: black;
  vertical-align: middle;
  max-height: 56px;
}

.imgGearDisabled {
  border: 2px solid #5e5c5c;
  opacity: .3;
  vertical-align: middle;
  max-height: 56px;
}

.imgSkills{
  padding-right:7px;
  float:left;
}

.skillItem {
  padding-bottom: 5px;
}

.skillName {
  font-size: 16px;
}

.maxedSkill {
  color: #B5B4B3;
  font-size: 16px;
}

.skillDivider{
  clear:both;
}

.allyCodeRow {
  margin-bottom: 10px;
}

.allyCodeRow:after {
  content: "";
  display: table;
  clear: both;
}

.allyCodeColumn {
  float: left;
  padding: 5px;
}

.sectionHeader {
  font-weight: bold;
  font-size: 18px;
  color: beige;
  text-transform: uppercase;
}

.bigName {
  font-weight: bold;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}
